root = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
max_line_length = 120

# 필수 규칙
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# 선택적 규칙
disabled_rules = no-wildcard-imports
